/* general rules */
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
body{
font-family: 'Roboto', sans-serif;
}

.clearfix::after{
  content:"";
  display:table;
  clear:both;
}
.float-left{
float:left;
}

.float-right{
  float:right;
}
.btn-orange{
  color:white;
  background-color:rgb(236, 73, 21);
  padding:10px 15px;
  border-radius: 5px;
}
.btn{
  background-color: white;
  color:rgb(236, 73, 21);
  border:1px solid rgb(236, 73, 21);
  padding:10px 15px;
  border-radius: 5px;
}
.btn-transparent{
  border-right: 1px solid black;
  padding:10px;
}
a{
  padding-left:5px;
  text-decoration:none;
}
li{
  display:inline-block;

  }
  ul{
    list-style: none;
  }
  .far{
    background-color:rgb(236, 73, 21);
    border-radius: 10px;
  }
/* /general rules */

.header-top-container{
  background: red;
  width: 100%;
}
.header-middle{
  background-color:#fdf6ee;
  width:100%;
}

.container{
  background-color:red;
  width: 70%;
  margin:auto;
  position:relative;
}

/* sfondo */
.jumbotron{
  background-image: url('../img/jumbotron.png');
  width: 100%;
  height:700px;
  background-position:right top;
  background-repeat: no-repeat;
  position: relative;
  box-shadow: inset 0 5px 8px rgba(0,0,0,0.3);

}
/* aggiunta della barra sottostante allo sfondo jumbotron */
.jumbotron::before{
  background-color:rgb(37, 184, 131);
  width: 100%;
  height: 90px;
  border-top:2px solid black;
  border-bottom:2px solid black;
  content: '';
  display: block;
  position: absolute;
  bottom:0;
  left:0;
  }
/* altrimenti si poteva creare un div nell'html */

/* barra fissa */
.box-fixed{
  height:70px;
  width: 100%;
  background-color:rgb(179, 213, 230);
  padding-bottom:0px;
  position:fixed;
  top:0;
  left: 0;
  z-index:1;
}
.box-fixed li{
  line-height: 70px;
}
.header-fixed-left a{
  color:black;
}

/* barra top header */
.top-header{
  height:150px;
  width: 100%;
  padding-top: 40px;
  background-color:white;
}

.nav a{
  color:black;
}

.nav li{
  font-size:20px;
  line-height: 150px;
  padding-left: 30px;
}

.logo img{
  padding:60px 15px;

}

.grow{
  width:30%;
  position:absolute;
  top:70px;
  left:0;
}
h1{
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
  font-weight: bold;
}

.grow-test{
  font-size: 15px;
  margin:50px 0;

}
.btn-grow{
  width:150px;
  padding:20px 15px;
}
.btn-orange a{

  color:white;

}
.header-jumbotron{
  width: 100%;
  position: relative;
}

.main-container{
  background-color: rgb(212, 235, 241);
  /* height:1200px; */
  width: 100%;
}
/* inizio powerful contained */
.powerful-contained{
  /* height: 300px; */
  width:800px;
  margin:auto;
  position: relative;
}
.powerful-contained img{
  width: 30%;
  position: absolute;
  top:0;
  left:50%;
  transform:translateX(-50%);
  padding-top:50px;
}

.titolo-powerful{
  font-family: 'Montserrat', sans-serif;
  font-size: 25px;
  color:black;
  text-align: center;
  padding-top:28%;
  padding-bottom:20px;
}

.testo-powerful{
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  color:black;
  text-align: center;
  padding-top:5px;
}

/* fine powerful contained */

/* inizio free contained */

.free-contained{
  background-color:white;
  box-shadow: inset 0px 0px 5px rgba(50,71,90,0.5);
  /* height: 250px; */
  width:800px;
  margin:70px auto;
}

.col-img{
  width: 40%;
  height: 80%;
  /* background-color: red; */
  margin: 30px 0;
  position: relative;
}

.col-img img{
  width:50%;
  position: absolute;
  top:0;
  left:50%;
  transform:translateX(-50%);
}

.col-img a{
  position: absolute;
  top:60%;
  left:50%;
  transform:translate(-50%, -50%);
}
.col-img .btn-orange{
  width: 100px;
  margin-top: 30px;
  font-size: 10px;
  line-height: 15px;
  text-align: center;

}

.col-free-hubspot{
  width:60%;
  height:80%;
  /* background-color:green; */
  margin: 30px 0;
}

.titolo-free-hubspot h3{
  padding: 50px;
  font-size: 35px;
  color: black;

}

.testo-free-hubspot{
  font-size: 15px;
  color:black;
  padding-top: 20px;
}
.titolo-popular{

  font-size:20px;
  color:black;
  padding-top: 20px;
  text-transform:uppercase;
}
.titolo-popular hr{
  margin-bottom: 5px;
  width: 250px;
  display: inline-block;
}

.list-popular a{
  color:black;
}
.list-popular li{
  font-size:15px;
  padding-right: 15px;
  padding-top: 20px;
}
 /* inizio contenitore tre colonne   */
.contenitore-colonne{
  margin:70px auto;
  width: 800px;

}
.colonna{
  /* height:450px; */
  width: 30%;
  background-color:white;
  position:relative;
  box-shadow: inset 0px 0px 5px rgba(50,71,90,0.5);
}
.centrale{
  margin-right:5%;
  margin-left:5%;
}
.sinistra img{
  width: 30%;
  width:50%;
  position: absolute;
  top:0;
  left:50%;
  transform:translateX(-50%);
  margin:15px auto;
}
.sinistra h4{
  text-align: center;
  font-weight: bold;
  margin-top:150px;
}
.centrale img{
  width: 30%;
  width:50%;
  position: absolute;
  top:0;
  left:50%;
  transform:translateX(-50%);
  margin:15px auto;
}
.centrale h4{
  text-align: center;
  font-weight: bold;
  margin-top:150px;
}
.destra img{
  width: 30%;
  width:50%;
  position: absolute;
  top:0;
  left:50%;
  transform:translateX(-50%);
  margin:15px auto;
}
.destra h4{
  text-align: center;
  font-weight: bold;
  margin-top:150px;
}
.colonna p{
  text-align: center;
  font-size: 15px;
  padding:20px 0;
}
.colonna hr{
  width:90%;
  margin:auto;
}
.colonna h5{
  text-align: center;
  text-transform:uppercase;
  margin-top:20px;
}
.colonna .far{
  margin-left: 5px;
}
.colonna ul{
  margin: 15px 0;
}
.colonna li{
  display:block;
}
.colonna a{
  color:black;
  font-size: 10px;
}
.btn-orange a{
  color:white;
}
.colonna .btn-orange{
  width: 100px;
  margin: auto;
  line-height: 15px;
  text-align: center;
}

/* fine tre colonne */

/* inizio contenitore verdeacqua */
.container-verdeacqua{
  width:100%;
  /* height: 570px; */
  background: linear-gradient(45deg, #00a4bd, #00bda5);
;
}
.contained-verdeacqua{
  width: 800px;
  /* height: 100%; */
  /* background-color: blue; */
  margin: auto;
}
.contained-verdeacqua h2{
  color:white;
  text-align: center;
  padding-top:15px;
  padding-bottom: 15px;
}
.contained-verdeacqua small{
  color:white;
  /* padding-left: 10px; */
}
.first-row{
  width:100%;
  /* height:150px; */
  border-bottom:1px solid white;
  margin-top:30px;
}
.first-row img{
  padding-top:5px;
}
.imghubspot-second-row img{
  height:35px;

}
.second-row{
  width:100%;
  height:150px;
}
.quadrato{
  width:200px;
  height:100px;

}
.quadrato-centrale{
  width:200px;
  height:150px;
  border-right:1px solid white;
}
.testo-quadrato{
  font-size: 40px;
  color:white;
  font-weight:bold;
  text-align: center;
  margin:auto;
  padding-top:10px;
}
.quadrato-centrale p{
  font-size: 10px;
  color:white;
  text-align: center;
  padding-top: 20px;
}
.quadrato p{
  font-size: 10px;
  color:white;
  text-align: center;
  padding-top: 20px;
}
/* fine container verdeacqua */
/* inizio container white */
.container-white{
  width: 100%;
  /* height: 600px; */
}
.contained-white{
  width: 800px;
  /* height: 600px; */
  margin:auto;
  background-color:white;
}
.quadrato-customers{
  width:300px;
  height:200px;
  /* background-color: red; */
}
.number-customers{
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  margin-top:30px;
}
.text-customers{
  font-size:10px;
  font-weight: bold;
  text-align: center;
  margin:20px 70px;
}
.quadrato-aziende{
  width:500px;
  height:200px;
  /* background-color:green; */
}
.first-row-aziende img{
  width: 20%;

}
.first-row-aziende{
  margin-top:20px;
  text-align: center;
}
.second-row-aziende img{
  width: 20%;
  vertical-align: middle;
}
.second-row-aziende{
  margin-top: 20px;
  text-align: center;
}
.quadrato-start{
  width: 400px;
  height: 300px;
  /* background-color: yellow; */
}
.titolo-start-growing{
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  margin-top:30px;
}
.testo-start-growing{
  font-size:10px;
  font-weight: bold;
  text-align: center;
  margin:20px 70px;
}

.GetHubspotFree a{
  height: 100px;
}
.quadrato-woman{
  width: 400px;
  height:300px;
  /* background-color:pink; */
}

.quadrato-woman img{
  width: 50%;
  margin-top:20px;
  margin-left:200px;
}


footer{
  background-color:#2D3E50;
  width: 100%;
}
.col-footer{
  width: 800px;
  margin:auto;
}
.colonna{
  width:200px;
}
hr footer{
  margin:30px 0;
}
